In [24]:
import sqlite3
import pandas as pd

In [25]:
conn = sqlite3.connect('Roteiro08_Banco_Dados.db')

In [26]:
# Criar a tabela "covidcasos" (se ela não existir)
conn.execute('''
    CREATE TABLE IF NOT EXISTS covidcasos (
        id INTEGER PRIMARY KEY,
        state TEXT,
        cases INT,
        deaths INT,
        suspects INT,
        refuses INT

    )
''')

In [27]:
# Lista de exemplos de dados de covidcasos para todos os estados do Brasil com diversas estações
registros = [
    ("São Paulo", 4646106, 157854, 5334, 596),
    ("Minas Gerais", 2705734, 57306, 925, 104),
    ("Paraná", 1952061, 41191, 400, 119),
    ("Rio Grande do Sul", 1821565, 36863, 416, 330),
    ("Rio de Janeiro", 1753395, 69878, 1254, 148),
    ("Santa Catarina", 1439607, 20550, 346, 47),
    ("Bahia",1359487, 27912, 573, 36),
    ("Ceará",1119607, 25239, 493, 89),
    ("Goiás",1034279, 25002, 353, 55),
    ("Espírito Santo", 832984, 13490, 71, 21),
    ("Pernambuco", 697295, 20635, 89, 23),
    ("Pará", 647628, 17340, 43, 23),
    ("Mato Grosso", 616695, 13999, 45, 8),
    ("Distrito Federal", 595257, 11164, 327, 107),
    ("Amazonas", 528268, 13936, 18, 26),
    ("Paraíba", 497653, 9702, 85, 11)
]

In [28]:
# Inserir os registros na tabela "covidcasos"
for registro in registros:
    conn.execute("INSERT INTO covidcasos (state, cases, deaths, suspects, refuses) VALUES (?, ?, ?, ?, ?)", registro)

In [29]:
# Confirmar as alterações no banco de dados
conn.commit()

In [30]:
# Consultar os registros inseridos para verificar se foram adicionados corretamente
query = "SELECT * FROM covidcasos"
df_covidcasos = pd.read_sql_query(query, conn)
print(df_covidcasos)

    id              state    cases  deaths  suspects  refuses datetime
0    1          São Paulo  4646106  157854      5334      596     None
1    2       Minas Gerais  2705734   57306       925      104     None
2    3             Paraná  1952061   41191       400      119     None
3    4  Rio Grande do Sul  1821565   36863       416      330     None
4    5     Rio de Janeiro  1753395   69878      1254      148     None
5    6     Santa Catarina  1439607   20550       346       47     None
6    7              Bahia  1359487   27912       573       36     None
7    8              Ceará  1119607   25239       493       89     None
8    9              Goiás  1034279   25002       353       55     None
9   10     Espírito Santo   832984   13490        71       21     None
10  11         Pernambuco   697295   20635        89       23     None
11  12               Pará   647628   17340        43       23     None
12  13        Mato Grosso   616695   13999        45        8     None
13  14   Distrito Federal   595257   11164       327      107     None
14  15           Amazonas   528268   13936        18       26     None
15  16            Paraíba   497653    9702        85       11     None
16  17          São Paulo  4646106  157854      5334      596     None
17  18       Minas Gerais  2705734   57306       925      104     None
18  19             Paraná  1952061   41191       400      119     None
19  20  Rio Grande do Sul  1821565   36863       416      330     None
20  21     Rio de Janeiro  1753395   69878      1254      148     None
21  22     Santa Catarina  1439607   20550       346       47     None
22  23              Bahia  1359487   27912       573       36     None
23  24              Ceará  1119607   25239       493       89     None
24  25              Goiás  1034279   25002       353       55     None
25  26     Espírito Santo   832984   13490        71       21     None
26  27         Pernambuco   697295   20635        89       23     None
27  28               Pará   647628   17340        43       23     None
28  29        Mato Grosso   616695   13999        45        8     None
29  30   Distrito Federal   595257   11164       327      107     None
30  31           Amazonas   528268   13936        18       26     None
31  32            Paraíba   497653    9702        85       11     None
32  33          São Paulo  4646106  157854      5334      596     None
33  34       Minas Gerais  2705734   57306       925      104     None
34  35             Paraná  1952061   41191       400      119     None
35  36  Rio Grande do Sul  1821565   36863       416      330     None
36  37     Rio de Janeiro  1753395   69878      1254      148     None
37  38     Santa Catarina  1439607   20550       346       47     None
38  39              Bahia  1359487   27912       573       36     None
39  40              Ceará  1119607   25239       493       89     None
40  41              Goiás  1034279   25002       353       55     None
41  42     Espírito Santo   832984   13490        71       21     None
42  43         Pernambuco   697295   20635        89       23     None
43  44               Pará   647628   17340        43       23     None
44  45        Mato Grosso   616695   13999        45        8     None
45  46   Distrito Federal   595257   11164       327      107     None
46  47           Amazonas   528268   13936        18       26     None
47  48            Paraíba   497653    9702        85       11     None

In [31]:
# Fechar a conexão com o banco de dados
conn.close()

In [32]:
import sqlite3
import pandas as pd

In [33]:
conn = sqlite3.connect('Roteiro08_Banco_Dados.db')

In [34]:
query = "SELECT * FROM covidcasos"
df_covidcasos = pd.read_sql_query(query, conn)

In [35]:
conn.close()

In [36]:
print("Primeiros registros:")
print(df_covidcasos.head())

Primeiros registros:
   id              state    cases  deaths  suspects  refuses datetime
0   1          São Paulo  4646106  157854      5334      596     None
1   2       Minas Gerais  2705734   57306       925      104     None
2   3             Paraná  1952061   41191       400      119     None
3   4  Rio Grande do Sul  1821565   36863       416      330     None
4   5     Rio de Janeiro  1753395   69878      1254      148     None

In [37]:
# 1. Calcular a média de mortes por estado
media_mortes_estado = df_covidcasos.groupby('state')['deaths'].mean()
print("\nMédia de mortes por estado:")
print(media_mortes_estado)

Média de mortes por estado:
state
Amazonas              13936.0
Bahia                 27912.0
Ceará                 25239.0
Distrito Federal      11164.0
Espírito Santo        13490.0
Goiás                 25002.0
Mato Grosso           13999.0
Minas Gerais          57306.0
Paraná                41191.0
Paraíba                9702.0
Pará                  17340.0
Pernambuco            20635.0
Rio Grande do Sul     36863.0
Rio de Janeiro        69878.0
Santa Catarina        20550.0
São Paulo            157854.0
Name: deaths, dtype: float64