In [ ]:
import sqlite3
import pandas as pd

In [ ]:
conn = sqlite3.connect('Roteiro08_Banco_Dados.db')

In [ ]:
# Criar a tabela "covidcasos" (se ela não existir)
conn.execute('''
    CREATE TABLE IF NOT EXISTS covidcasos (
        id INTEGER PRIMARY KEY,
        state TEXT,
        cases INT,
        deaths INT,
        suspects INT,
        refuses INT,
        datetime TEXT

    )
''')

In [ ]:
# Lista de exemplos de dados de covidcasos para todos os estados do Brasil com diversas estações
registros = [
    ("São Paulo", 4646106, 157854, 5334, 596, "2022-01-30T21:33:38.998Z"),
    ("Minas Gerais", 2705734, 57306, 925, 104, "2022-01-30T21:33:38.998Z"),
    ("Paraná", 1952061, 41191, 400, 119, "2022-01-30T21:33:38.998Z"),
    ("Rio Grande do Sul", 1821565, 36863, 416, 330, "2022-01-30T21:33:38.998Z"),
    ("Rio de Janeiro", 1753395, 69878, 1254, 148, "2022-01-30T21:33:38.998Z"),
    ("Santa Catarina", 1439607, 20550, 346, 47, "2022-01-30T21:33:38.998Z"),
    ("Bahia",1359487, 27912, 573, 36, "2022-01-30T21:33:38.998Z"),
    ("Ceará",1119607, 25239, 493, 89, "2022-01-30T21:33:38.998Z"),
    ("Goiás",1034279, 25002, 353, 55, "2022-01-30T21:33:38.998Z"),
    ("Espírito Santo", 832984, 13490, 71, 21, "2022-01-30T21:33:38.998Z"),
    ("Pernambuco", 697295, 20635, 89, 23, "2022-01-30T21:33:38.998Z"),
    ("Pará", 647628, 17340, 43, 23, "2022-01-30T21:33:38.998Z"),
    ("Mato Grosso", 616695, 13999, 45, 8, "2022-01-30T21:33:38.998Z"),
    ("Distrito Federal", 595257, 11164, 327, 107, "2022-01-30T21:33:38.998Z"),
    ("Amazonas", 528268, 13936, 18, 26, "2022-01-30T21:33:38.998Z"),
    ("Paraíba", 497653, 9702, 85, 11, "2022-01-30T21:33:38.998Z")
]

In [ ]:
# Inserir os registros na tabela "covidcasos"
for registro in registros:
    conn.execute("INSERT INTO covidcasos (state, cases, deaths, suspects, refuses, datetime) VALUES (?, ?, ?, ?, ?, ?)", registro)

In [ ]:
# Confirmar as alterações no banco de dados
conn.commit()

In [ ]:
# Consultar os registros inseridos para verificar se foram adicionados corretamente
query = "SELECT * FROM covidcasos"
df_covidcasos = pd.read_sql_query(query, conn)
print(df_covidcasos)

    id   uid    uf              state    cases  deaths  suspects  refuses  \
0    1  35.0    SP          São Paulo  4646106  157854      5334      596
1    2   NaN    SP          São Paulo  4646106  157854      5334      596
2    3   NaN    SP          São Paulo  4646106  157854      5334      596
3    4   NaN    SP          São Paulo  4646106  157854      5334      596
4    5   NaN    SP          São Paulo  4646106  157854      5334      596
5    6   NaN    SP          São Paulo  4646106  157854      5334      596
6    7   NaN    SP          São Paulo  4646106  157854      5334      596
7    8   NaN    SP          São Paulo  4646106  157854      5334      596
8    9   NaN    SP          São Paulo  4646106  157854      5334      596
9   10   NaN    SP          São Paulo  4646106  157854      5334      596
10  11   NaN    SP          São Paulo  4646106  157854      5334      596
11  12   NaN  None          São Paulo  4646106  157854      5334      596
12  13   NaN  None       Minas Gerais  2705734   57306       925      104
13  14   NaN  None             Paraná  1952061   41191       400      119
14  15   NaN  None  Rio Grande do Sul  1821565   36863       416      330
15  16   NaN  None     Rio de Janeiro  1753395   69878      1254      148
16  17   NaN  None     Santa Catarina  1439607   20550       346       47
17  18   NaN  None              Bahia  1359487   27912       573       36
18  19   NaN  None              Ceará  1119607   25239       493       89
19  20   NaN  None              Goiás  1034279   25002       353       55
20  21   NaN  None     Espírito Santo   832984   13490        71       21
21  22   NaN  None         Pernambuco   697295   20635        89       23
22  23   NaN  None               Pará   647628   17340        43       23
23  24   NaN  None        Mato Grosso   616695   13999        45        8
24  25   NaN  None   Distrito Federal   595257   11164       327      107
25  26   NaN  None           Amazonas   528268   13936        18       26
26  27   NaN  None            Paraíba   497653    9702        85       11
27  28   NaN  None          São Paulo  4646106  157854      5334      596
28  29   NaN  None       Minas Gerais  2705734   57306       925      104
29  30   NaN  None             Paraná  1952061   41191       400      119
30  31   NaN  None  Rio Grande do Sul  1821565   36863       416      330
31  32   NaN  None     Rio de Janeiro  1753395   69878      1254      148
32  33   NaN  None     Santa Catarina  1439607   20550       346       47
33  34   NaN  None              Bahia  1359487   27912       573       36
34  35   NaN  None              Ceará  1119607   25239       493       89
35  36   NaN  None              Goiás  1034279   25002       353       55
36  37   NaN  None     Espírito Santo   832984   13490        71       21
37  38   NaN  None         Pernambuco   697295   20635        89       23
38  39   NaN  None               Pará   647628   17340        43       23
39  40   NaN  None        Mato Grosso   616695   13999        45        8
40  41   NaN  None   Distrito Federal   595257   11164       327      107
41  42   NaN  None           Amazonas   528268   13936        18       26
42  43   NaN  None            Paraíba   497653    9702        85       11

                    datetime
0   2022-01-30T21:33:38.998Z
1   2022-01-30T21:33:38.998Z
2   2022-01-30T21:33:38.998Z
3   2022-01-30T21:33:38.998Z
4   2022-01-30T21:33:38.998Z
5   2022-01-30T21:33:38.998Z
6   2022-01-30T21:33:38.998Z
7   2022-01-30T21:33:38.998Z
8   2022-01-30T21:33:38.998Z
9   2022-01-30T21:33:38.998Z
10  2022-01-30T21:33:38.998Z
11  2022-01-30T21:33:38.998Z
12  2022-01-30T21:33:38.998Z
13  2022-01-30T21:33:38.998Z
14  2022-01-30T21:33:38.998Z
15  2022-01-30T21:33:38.998Z
16  2022-01-30T21:33:38.998Z
17  2022-01-30T21:33:38.998Z
18  2022-01-30T21:33:38.998Z
19  2022-01-30T21:33:38.998Z
20  2022-01-30T21:33:38.998Z
21  2022-01-30T21:33:38.998Z
22  2022-01-30T21:33:38.998Z
23  2022-01-30T21:33:38.998Z
24  2022-01-30T21:33:38.998Z
25  2022-01-30T21:33:38.998Z
26  2022-01-30T21:33:38.998Z
27  2022-01-30T21:33:38.998Z
28  2022-01-30T21:33:38.998Z
29  2022-01-30T21:33:38.998Z
30  2022-01-30T21:33:38.998Z
31  2022-01-30T21:33:38.998Z
32  2022-01-30T21:33:38.998Z
33  2022-01-30T21:33:38.998Z
34  2022-01-30T21:33:38.998Z
35  2022-01-30T21:33:38.998Z
36  2022-01-30T21:33:38.998Z
37  2022-01-30T21:33:38.998Z
38  2022-01-30T21:33:38.998Z
39  2022-01-30T21:33:38.998Z
40  2022-01-30T21:33:38.998Z
41  2022-01-30T21:33:38.998Z
42  2022-01-30T21:33:38.998Z

In [ ]:
# Fechar a conexão com o banco de dados
conn.close()

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
conn = sqlite3.connect('Roteiro08_Banco_Dados.db')

In [ ]:
query = "SELECT * FROM covidcasos"
df_covidcasos = pd.read_sql_query(query, conn)

In [ ]:
conn.close()

In [ ]:
print("Primeiros registros:")
print(df_covidcasos.head())

Primeiros registros:
   id   uid  uf      state    cases  deaths  suspects  refuses  \
0   1  35.0  SP  São Paulo  4646106  157854      5334      596
1   2   NaN  SP  São Paulo  4646106  157854      5334      596
2   3   NaN  SP  São Paulo  4646106  157854      5334      596
3   4   NaN  SP  São Paulo  4646106  157854      5334      596
4   5   NaN  SP  São Paulo  4646106  157854      5334      596

                   datetime
0  2022-01-30T21:33:38.998Z
1  2022-01-30T21:33:38.998Z
2  2022-01-30T21:33:38.998Z
3  2022-01-30T21:33:38.998Z
4  2022-01-30T21:33:38.998Z

In [ ]:
# 1. Calcular a média de mortes por estado
media_mortes_estado = df_covidcasos.groupby('state')['deaths'].mean()
print("\nMédia de mortes por estado:")
print(media_mortes_estado)

Média de mortes por estado:
state
 São Paulo           157854.0
Amazonas              13936.0
Bahia                 27912.0
Ceará                 25239.0
Distrito Federal      11164.0
Espírito Santo        13490.0
Goiás                 25002.0
Mato Grosso           13999.0
Minas Gerais          57306.0
Paraná                41191.0
Paraíba                9702.0
Pará                  17340.0
Pernambuco            20635.0
Rio Grande do Sul     36863.0
Rio de Janeiro        69878.0
Santa Catarina        20550.0
São Paulo            157854.0
Name: deaths, dtype: float64